#title{
    color:lightcoral;
    font-size: 28;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif

}
#body{
    color:lightcoral;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif


}
#hw{
    color:black;
    font-size: 60;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    

}